
.device_desktop, .device_tablet, .device_smartphone { display: none; } .device_desktop { display: block; }

/*
FONTS
*/
@font-face {
   font-family: 'Calibre';
      src: url('../lib/fonts/CalibreWeb-Light.eot');
      src: url('../lib/fonts/CalibreWeb-Light.eot?#iefix') format('embedded-opentype'),
           url('../lib/fonts/CalibreWeb-Light.woff') format('woff');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('../lib/fonts/CalibreWeb-Regular.eot');
      src: url('../lib/fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
           url('../lib/fonts/CalibreWeb-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('../lib/fonts/CalibreWeb-Medium.eot');
      src: url('../lib/fonts/CalibreWeb-Medium.eot?#iefix') format('embedded-opentype'),
           url('../lib/fonts/CalibreWeb-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('../lib/fonts/CalibreWeb-Semibold.eot');
      src: url('../lib/fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
           url('../lib/fonts/CalibreWeb-Semibold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('../lib/fonts/CalibreWeb-Bold.eot');
      src: url('../lib/fonts/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'),
           url('../lib/fonts/CalibreWeb-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('../lib/fonts/CalibreWeb-Black.eot');
      src: url('../lib/fonts/CalibreWeb-Black.eot?#iefix') format('embedded-opentype'),
           url('../lib/fonts/CalibreWeb-Black.woff') format('woff');
   font-weight: 800;
   font-style: normal;
}


/*
ANIMATIONS
*/
.ani__drawer {
-webkit-transition: all 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: all 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.ani__body {
-webkit-transition: padding 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: padding 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.ani__opacity {
-webkit-transition: opacity 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: opacity 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.aanbod__finder__filters__item input + label:before,
.animation__play__button:before,
.loop__cursus__item:before,
.large__article__description p,
.loop__article__item:before,
.large__article__description:after,
.header__wrapper:before,
.loop__cursus__item__submenu li a:before,
.ani__all {
-webkit-transition: all 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: all 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.ani_slow {
-webkit-transition: all 350ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: all 350ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.single__content__header__close i,
a,
body.invert--header .top__logo svg path,
body.invert--header .top__logo svg polygon,
body.invert--header .top__logo svg polyline,
.home__leningen__higlighted__highlight__visual__wrapper:before,
.home__projects__higlighted__highlight__visual__wrapper:before,
.loop__cursus__item--category .loop__cursus__title:after,
.container__header__back:before,
.ani__all--fast {
-webkit-transition: all 175ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: all 175ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.ani__bounce {
-webkit-transition: all 200ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
        transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}
.ani__blur {
-webkit-transition: filter 1875ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        -webkit-transition: -webkit-filter 1875ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: -webkit-filter 1875ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: filter 1875ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: filter 1875ms cubic-bezier(0.165, 0.840, 0.440, 1.000), -webkit-filter 1875ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.single__content__header__close {
-webkit-transition: background-color 175ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition: background-color 175ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/*
STATICS
*/
body {
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow-x: hidden;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	font-family: 'Calibre';
	font-weight: 400;
	background-color: #d4d1c2;
}

*:focus { outline: none !important; }
.no-gutter > [class*='col-'] { padding-left: 0; padding-right: 0; }

select::-ms-expand {
    display: none;
}

.container__row__wrapper {
	position: relative;
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 36px 21px 0 21px;
	@media (max-width: 579px) {
		padding-top: 16px;
	}
}

	.container__row__wrapper.no-gutter {
		padding: 36px 36px 0 36px;
	}

.education-content {
	.container__row__wrapper.no-gutter {
		padding: 0 36px;
    @media (max-width: 767px) {
      padding: 0 15px;
    }
	}
}

body img.gform_ajax_spinner { display: none!important; }

button {
	border: none;
	background: transparent;
	-webkit-appearance: none;
	padding: 0 0 0 0;
}

button.button--advanced {
	    position: relative;
		float: right;
		width: auto;
		background-color: #522583;
		display: inline-block;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		vertical-align: middle;
		text-align: center;
		height: 86px;
		color: #fff;
		padding-left: 126px;
		padding-right: 40px;
		font-size: 26px;
		margin-top: 24px;
		margin-bottom: 46px;
		-webkit-transform: translate(0,0);
		        transform: translate(0,0);
		margin-left: 0;
}

	button.button--advanced i {
	    position: absolute;
	    z-index: -1;
	    left: 0;
	    top: 0;
	    height: 86px;
	    width: 86px;
	    background-color: #e63338;
	    font-size: 33px;
	    padding-top: 25px;
	    padding-left: 30px;
	    color: #fff;
	    text-align: left;
	}

	button.button--advanced span {
    	z-index: 1;
	}

	button.button--advanced:hover i {
		width: 100%;
	}


/* BG ANIMATIONS */

.background {
	width: 100%;
	height: 100%;
	background: #d4d1c2;
	position: fixed;
	z-index: -1;
}

.logofull h1 img {
    width: 100%;
    margin-left: -13px;
    margin-top: -35px;
}

.moving img {
	width: 150%;
	height: auto;
}

.T_1 {
	position: fixed;
	top: -20%;
	left: -10%;
	width: 150%;
	height: 150%;
	z-index: 0;
}

.T_1 img {
	/*animation: animateOne 95s ease-in-out infinite;*/
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.T_2 {
	position: fixed;
	top: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.T_2 img {
	/*animation: animateTwo 75s linear infinite;*/
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.T_3 {
	position: fixed;
	top: 0;
	right: 40%;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.T_3 img {
	/*animation: animateThree 45s ease-in-out infinite alternate;*/
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}


#Toanhus_T {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}


/* KEYFRAMES */

@-webkit-keyframes animateOne {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes animateOne {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@-webkit-keyframes animateTwo {
  0% {
   	-webkit-transform: rotate(0deg);
   	        transform: rotate(0deg);
   	-webkit-transform: scale(1);
   	        transform: scale(1);
  }
  100% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes animateTwo {
  0% {
   	-webkit-transform: rotate(0deg);
   	        transform: rotate(0deg);
   	-webkit-transform: scale(1);
   	        transform: scale(1);
  }
  100% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes animateThree {
  0% {
   	-webkit-transform: rotate(0deg);
   	        transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes animateThree {
  0% {
   	-webkit-transform: rotate(0deg);
   	        transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}



/*
DEFAULT TYPOGRAPHY
*/
.title {
	font-size: 29px;
	line-height: 29px;
	font-weight: 600;
}

	.title--large span { font-size: 70%; line-height: 70%; margin-top: 5%; width: 100%; clear: both; position: relative; float: left; }

	.title--light { color: #fff; }
	.title--dark { color: #000; }
	.title--red { color: #e84552; }
	.title--normal { font-weight: 400; }
	.title--centered { width: 100%; text-align: center; }
	.title--large { font-size: 67px; line-height: 71px; }
	.title--semilarge { font-size: 54px; line-height: 64px; }
	.title--article { margin-bottom: 36px; }
	.title--shadow { text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.6); }
	.title--medium { font-weight: 500; }
	.title--small { font-size: 21px; line-height: 29px; }

/*
DEFAULT CONTENT STYLING
*/

.styled__content h1,
.styled__content h2,
.styled__content h3,
.styled__content h4,
.styled__content h5,
.styled__content h6 {
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
}

.styled__content p {
	margin: 0 0 34px 0;
}

.styled__content table {
	position: relative;
	float: left;
	width: 100%;
	border: none;
}

	.styled__content table tr td {
		border: none;
		vertical-align: top;
		width: auto;
		border-bottom: 1px solid #e5e5e5;
		padding: 6px 0;
	}

.styled__content a {
	border-bottom: 1px solid #000;
	color: #000;
}

	.styled__content a:after {
		position: absolute;
	}

	.styled__content a:hover {
		border-color: #E84453;
		color: #E84453;
		text-decoration: none;
	}

.styled__content ul,
.styled__content ol {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 34px 0;
}

	.styled__content ul li,
	.styled__content ol li {
		margin: 0 0 7px 0;
	}

	.styled__content blockquote {
		display: inline-block;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border: none;
	}

		.styled__content blockquote p {
			font-size: 23px;
			line-height: 28px;
			font-weight: 300;
			font-style: italic;
			color: #e84552;
			margin: 0 0 34px 0;
			padding-left: 20px;
			border-left: 1px solid #ccc;
		}

	.styled__content h2:not(.title) {
		font-weight: 500;
		margin-bottom: 34px;
		margin-top: 17px;
	}

	.styled__content h3 {
		font-weight: 500;
		margin-bottom: 28px;
		margin-top: 17px;
	}

	.styled__content h4 {
		font-weight: 500;
		margin-bottom: 8px;
		margin-top: 17px;
		font-size: 23px;
		line-height: 28px;
	}

	.styled__content button {
		width: 100%;
	}

	.video__wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 0px;
		height: 0;
		width: 100%;
		float: left;
		z-index: 0;
	}

		.video__wrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

/*
DYNAMIC
*/
#dynamic--progress {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	background: #26a699; /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #26a699 0%,#e76777 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #26a699 0%,#e76777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26a699', endColorstr='#e76777',GradientType=1 ); /* IE6-9 */

	height: 6px;
	z-index: 9001;
}

#dynamic {

}

	#dynamic.loading {
		opacity: 1;
		height: 0px;
	}

/*
SEARCH BAR
*/
.search__bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	top: -80px;
	background-color: #fff;
	z-index: 9001;
}

	body.search--visible { padding-top: 80px; }
	body.search--visible .search__bar { top: 0; }

	.search__bar__form {
		position: relative;
		float: left;
		width: 100%;
	}

	.search__bar__field {
		position: relative;
		float: left;
		width: 100%;
		padding: 30px 20px;
		height: 80px;
		border: none;
		-webkit-appearance: none;
	}

	.search__bar__submit {
		position: absolute;
		right: 0;
		top: 0;
		height: 80px;
		width: 80px;
		color: #fff;
		background-color: #522583;
		font-size: 36px;
		text-align: right;
		padding-right: 20px;
	}

		.search__bar__submit:hover {
			width: 100%;
		}

/*
HEADER
*/
.header__wrapper {
	position: relative;
	float: left;
	width: 100%;
	padding: 58px 0 58px 0;
	@media (max-width: 1499px) {
		padding: 58px 0 30px 0;
	}
	.social__menu {
		position: absolute;
		top: 30px;
		right: 15px;
		@media (max-width: 767px) {
			display: none;
		}
	}
}

	.header__wrapper h1 {
		line-height: 0;
		margin: 0 0 0 0;
	}

	.header__menu {
		list-style-type: none;
		list-style-display: inline;
		position: relative;
		float: left;
		width: auto;
		margin: 0 0 0 0;
		padding: 37px 0 0 0;
	}

		.header__menu--right { float: right; }

	.header__menu li {
		display: inline-block;
		clear: none;
	}

		.header__menu li a {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			margin: 0 22px 0 0;
			font-family: 'Calibre';
			font-weight: 500;
			@media (max-width: 1199px) {
				margin: 0 18px 0 0;
			}
		}

		.header__menu--right li:last-child a { margin: 0 0 0 0; }

		.header__menu li.current-menu-parent a,
		.header__menu li.current-menu-item a {
			text-decoration: underline;
		}

	.header__phone__button,
	.header__menu__button,
	.header__search__button {
		position: relative;
		float: right;
		margin: 37px 0 0 20px;
		color: #fff;
	}

	.header__wrapper__tagline {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: #fff;
		font-weight: 200;
		margin: 10px 0 0 0;
		font-size: 24px;
	}

/*
FOOTER
*/
.footer {
	z-index: -1;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

	.footer__bumper {
		position: relative;
		float: left;
		width: 100%;
		height: 250px;
		pointer-events: none;
	}

/*
MOBILE CANVAS MENU
*/
.mobilemenu__container__wrapper {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: #E84453;
	z-index: 2001;
	padding: 85px 0;
}

	body.canvas--visible .mobilemenu__container__wrapper {
		right: 0;
    z-index: 4200;
	}

	.mobilemenu__container ul {
		list-style-type: none;
		list-style-position: inside;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}

		.mobilemenu__container .menu li {
			position: relative;
			float: left;
			width: 100%;
		}

		.mobilemenu__container .menu li a {
			position: relative;
			float: left;
			width: 100%;
			border-bottom: 1px solid rgba(255,255,255,.2);
			padding: 16px 22px;
			font-size: 20px;
			line-height: 20px;
			color: #fff;
		}

		.mobilemenu__container .menu li.current-menu-parent a,
		.mobilemenu__container .menu li.current-menu-item a {
			background-color: #fff;
			color: #E84453;
		}

		.mobilemenu__container .menu li .sub-menu {
			display: none;
		}

		.mobilemenu__container .menu li .sub-menu li a {
			padding: 10px 32px;
		}

		.mobilemenu__container .menu li .sub-menu li.current-menu-item a {
			color: #000;
		}

		.mobilemenu__container .menu li.current-menu-parent .sub-menu,
		.mobilemenu__container .menu li.current-menu-item .sub-menu {
			display: block;
		}

/*
ANNOUNCEMENTS
*/
.header__sticky__message {
	position: relative;
	float: left;
	width: 100%;
	padding: 23px 40px;
	max-height: 66px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 500;
	vertical-align: middle;
}

	.header__sticky__message:hover { text-decoration: none; }

	.header__sticky__message label {
		cursor: pointer;
		color: #000;
		font-weight: 500;
		margin-left: 40px;
	}

		.header__sticky__message:hover label { text-decoration: underline; }

	.header__sticky__message button {
		width: 17px;
		height: 17px;
		float: right;
	}

		.header__sticky__message button:hover { -webkit-transform: scale(1.5); transform: scale(1.5); }

/*
HIGHLIGHTS SLIDER
*/
.container__slider__backdrop .container__row__wrapper {
	margin-top: -387px;
	min-height: 388px;
	z-index: 0;
}

.highlights__slider__counter {
	display: inline-block;
	padding-top: 80px;
}

	.highlights__slider__counter .label {
		display: block;
		clear: both;
		text-align: center;
		font-size: 68px;
		font-size: 81px;
		font-weight: 200;
		color: #ececec;
	}

	.highlights__slider__counter .count {
		display: block;
		clear: both;
		text-align: center;
		font-size: 68px;
		font-size: 81px;
		font-weight: 200;
		color: #ececec;
		margin-top: 20px;
	}

.highlights__slider__wrapper {
	margin-left: -388px;
	margin-top: 65px;
	margin-top: 35px;
}

.highlights__slider {
	position: absolute;
	width: auto;
	height: 352px;
	z-index: 1;
}

	.highlights__slide {
		width: 680px;
	}

	.highlights__slide__inner {
		position: relative;
		float: left;
		width: 100%;
		height: 352px;
		padding-right: 36px;
		overflow: hidden;
	}

		.highlights__slider__visual__wrapper {
			position: relative;
			float: left;
			width: 100%;
			background-color: rgb(123, 89, 158);

		}

		.highlights__slide__visual {
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			z-index: 0;
		}

		.highlights__slide:hover .highlights__slide__visual {
			opacity: .5;
		}

		.highlights__slide__arrow {
			position: absolute;
			width: 100%;
			text-align: center;
			z-index: 1001;
			font-size: 50px;
			line-height: 81px;
			padding: 0 36px 0 0;
			margin-top: 0;
			white-space: pre-wrap;
			top: 40%;
			left: -50%;
			-webkit-transform: translateY(-50%);
			        transform: translateY(-50%);
			color: #fff;
			opacity: 0;
		}

			.highlights__slide:hover .highlights__slide__arrow {
				left: 0;
				opacity: 1;
			}

		.highlights__slide__title {
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 1001;
			line-height: 67px;
			padding: 0 36px 0 0;
			margin-top: 0;
			white-space: pre-wrap;
			top: 40%;
		}

			.highlights__slide:hover .highlights__slide__title {
				top: 15%;
			}

		.highlights__slide__excerpt {
			position: absolute;
			left: 0;
			bottom: 0;
			height: auto;
			width: auto;
			max-width: 60%;
			z-index: 1001;
			background-color: #7b599e;
			padding: 14px 24px;
			color: #fff;
			font-size: 21px;
			line-height: 24px;
			font-weight: 200;
		}

/*
ONS AANBOD BLOCK
*/
.container__contains__finder {
	z-index: 10001;
}

.block__aanbod {
	position: relative;
	float: left;
	width: 100%;
	height: 245px;
	height: auto;
	background-color: #86d0f5;
	padding: 16px 52px 42px 52px;
}

	.comp__start__finder {
		position: relative;
		float: left;
		width: 90%;
		background-color: #522583;
		display: inline-block;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		vertical-align: middle;
		text-align: center;
		height: 86px;
		color: #fff;
		padding-left: 86px;
		font-size: 26px;
		margin-top: 24px;
	}

		.comp__start__finder span { z-index: 1; }

		.comp__start__finder:hover span { color: #000; }

		.comp__start__finder i {
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			height: 86px;
			width: 86px;
			background-color: rgba(255,255,255,1);
			font-size: 33px;
			padding-top: 25px;
			padding-left: 25px;
			color: #000;
			text-align: left;
		}

		.comp__start__finder:hover i {
			width: 100%;
		}

.block__aanbod--mini {
	height: auto;
	padding: 10px 20px 16px 20px;

}

	.block__aanbod--mini .comp__start__finder {
		margin-left: 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
		width: 100%;
	}

/*
AANBOD FINDER
*/
.block__aanbod__finder__wrapper {
	position: absolute;
	right: -87px;
	top: 0;
	padding-right: 117px;
	z-index: 4001;
	display: none;
}

	.block__aanbod--mini + .block__aanbod__finder__wrapper {
		left: 15px;
	}

	body.finder--visible .block__aanbod__finder__wrapper {
		display: block;
	}

.aanbod__finder__filters h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	opacity: .8;
	margin-bottom: 36px;
}

.block__aanbod__finder {
	position: relative;
	float: left;
	width: 100%;
	min-height: 670px;
	height: auto;
	background: #86d0f5;
	padding: 16px 52px 126px 52px;
}

	.aanbod__finder__filters__list {
		position: relative;
		float: left;
		width: 100%;
		list-style-type: none;
		list-style-position: inside;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
    z-index: 1;
	}

		.aanbod__finder__filters__item {
			position: relative;
			float: left;
			width: 100%;
		}

		.aanbod__finder__filters__item--sub {
			margin-left: 18px;
		}

	.aanbod__finder__filters__item.disabled {
		pointer-events: none;
		opacity: .6;
	}

	.aanbod__finder__filters__item input { display: none; }

	.aanbod__finder__filters__item input + label {
		font-weight: 400;
		color: #000;
		padding-left: 36px;
		line-height: 26px;
	}

	.aanbod__finder__filters__item input + label:before {
		content: ' ';
		position: absolute;
		left: 0;
		width: 16px;
		height: 16px;
		margin-top: 6px;
		border: 0 solid #ececec;
		background-color: #ececec;
	}

		.aanbod__finder__filters__item input:checked + label:before {
			background-color: #522583;
			-webkit-transform: rotate(90deg);
			        transform: rotate(90deg);
		}

		.aanbod__finder__filters__item input + label:hover,
		.aanbod__finder__filters__item input:checked + label { color: #fff; }

	.comp__start__finder--finder {
		position: absolute;
		right: 0;
		bottom: 0;
		width: auto;
		left: auto;
		margin: 0 0 0 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

		.comp__start__finder--finder span { padding-left: 36px; padding-right: 36px; z-index: 0; }

		.comp__start__finder--disabled { opacity: .5; pointer-events: none; background-color: #ffed00; color: #000; }

	.comp__close__finder {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0 0 0 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	    z-index: 4001;
	}

		.comp__close__finder i {
		    position: relative;
		    z-index: -1;
		    left: 0;
		    top: 0;
		    height: 86px;
		    width: 86px;
		    background-color: #e84552;
		    font-size: 33px;
		    padding-top: 25px;
		    color: #fff;
		    text-align: center;
		}

		.comp__close__finder:hover i {
			background-color: #fff;
			color: #000;
		}

/*
SUBPAGE NAVIGATION
*/
.subpage__navigation {
	position: relative;
	float: left;
	width: 100%;
	list-style-type: none;
	margin: 0 0 36px 0;
	padding: 0 0 0 0;
	text-align: center;
}

	.subpage__navigation.left {
		text-align: left;
	}

	.subpage__navigation.left li {
		display: block;
	}

	.subpage__navigation.left li a {
		color: grey;
		font-weight: normal;
		font-size: 13px;
		float: none;
		margin-left: 0;
	}

	.subpage__navigation li {
		display: inline-block;
	}

	.subpage__navigation li a {
		position: relative;
		float: left;
		width: auto;
		padding: 0 0 0 0;
		margin: 0 15px;
		color: #000;
		font-weight: 500;
		font-size: 21px;
		line-height: 21px;
		border-bottom: 1px solid transparent;
	}

	.subpage__navigation li.current_page_parent a,
	.subpage__navigation li.current_page_ancestor a,
	.subpage__navigation li.current-menu-item a,
	.subpage__navigation li.current_page_item a,
	.subpage__navigation li a:hover {
		border-color: #000;
		text-decoration: none;
	}

	.subpage__navigation.left li.current_page_parent a {
		border-color: transparent;
	}

	.subpage__navigation.left li.current_page_item a {
		border-color: grey;
	}
	.subpage__navigation.left li.current_page_item ul.children li.page_item a {
		border-color: transparent;
	}

	.subpage__navigation li.current_page_parent ul.children li a {
		border-color: transparent;
	}

	.subpage__navigation li.current_page_parent ul.children li a:hover {
		border-color: grey;
	}

	.subpage__navigation li.current_page_parent ul.children li.current_page_item a {
		border-color: grey;
	}

	.subpage__navigation ul.children {
		display: none;
	}
	.subpage__navigation .current_page_item ul.children, .subpage__navigation .current_page_ancestor ul.children {
		display: block;
		padding-left: 15px;
	}

.subsidies h3 {
	margin-top: 0;
}

.subsidies a {
	color: black;
	text-decoration: underline;
}

.subsidies a:hover {
	text-decoration: none;
}

.video {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
}

.video iframe {
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
GOOGLE MAPS
*/
.container__maps {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 400px;
	background-color: #cecece;
}

/*
INTRO BLOCK
*/
.block__intro {
	position: relative;
	float: left;
	width: 100%;
	height: 245px;
	height: auto;
	background-color: #ffed00;
	padding: 48px 73px;
	vertical-align: middle;
	color: #000;
	font-size: 21px;
	line-height: 25px;
}

	.block__intro--home {
		margin: 36px 0 0 0;
	}

	.block__intro a {
		font-weight: 500;
		text-decoration: none;
		border-bottom: 1px solid #000;
		color: #000;
	}

/*
NIEUWSBERICHTEN BLOCK
*/
.block__nieuws {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 245px;
	background-color: #ececec;
	padding: 16px 52px;
	color: #000;
	font-size: 21px;
	line-height: 25px;
}

	.nieuws__articles {
		list-style-type: none;
		list-style-position: inside;
		margin: 30px 0 0 0;
		padding: 0 0 0 0;
		position: relative;
		float: left;
		width: 100%;
	}

	.nieuws__articles__article {
		position: relative;
		float: left;
		width: 100%;
		margin: 0 0 30px 0;
	}

		.nieuws__articles__article a {
			text-decoration: none;
			color: inherit;
			display: inline-block;
		}

		.nieuws__articles__article h3 {
			font-size: 29px;
			line-height: 29px;
			color: #000;
			display: inline-block;
			width: auto;
			max-width: 80%;
			margin: 0 0 20px 0;
		}

		.nieuws__articles__article time {
			display: inline-block;
			font-weight: 400;
			color: #000;
			font-size: 16px;
			line-height: 29px;
			margin: 0 0 0 15px;
			padding: 0 0 0 0;
		}

		.nieuws__articles__article:hover h3 {
			text-decoration: underline;
		}



/*
AGENDA BLOCK
*/
.block__agenda {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 245px;
	background-color: #e84552;
	padding: 16px 52px;
	color: #fff;
	font-size: 21px;
	line-height: 25px;
}

	.agenda__articles {
		list-style-type: none;
		list-style-position: inside;
		margin: 30px 0 0 0;
		padding: 0 0 0 0;
		position: relative;
		float: left;
		width: 100%;
	}

	.agenda__articles__article {
		position: relative;
		float: left;
		width: 100%;
		margin: 0 0 30px 0;
	}

		.agenda__articles__article a {
			text-decoration: none;
			color: inherit;
			display: inline-block;
		}

		.agenda__articles__article time {
			position: absolute;
			left: 0;
			width: 80px;
			background-color: #fff;
			text-align: center;
			color: #000;
			padding-bottom: 7px;
			padding-top: 27px;
		}

			.agenda__articles__article time .day {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background-color: #86d0f5;
				text-align: center;
				color: #000;
				text-transform: uppercase;
				font-size: 21px;
				line-height: 21px;
				padding: 3px 0;
				font-weight: 400;
				height: 27px;
			}

			.agenda__articles__article time .date {
				position: relative;
				float: left;
				width: 100%;
				text-align: center;
				color: #000;
				font-size: 41px;
				line-height: 41px;
				font-weight: 400;
			}

			.agenda__articles__article time .month {
				position: relative;
				float: left;
				width: 100%;
				text-align: center;
				color: #000;
				font-size: 20px;
				line-height: 20px;
				font-weight: 400;
				text-transform: uppercase;
			}

			.agenda__articles__article:hover time .day {
				height: 100%;
			}

			.agenda__articles__article:hover time .day,
			.agenda__articles__article:hover time .date,
			.agenda__articles__article:hover time .month { color: #fff; }

		.agenda__articles__article h3 {
			font-size: 29px;
			line-height: 29px;
			color: #fff;
			display: inline-block;
			width: auto;
			max-width: 80%;
			padding-left: 122px;
			margin: 0 0 20px 0;
		}

			.agenda__articles__article:hover h3 {
				text-decoration: underline;
			}

		.agenda__articles__article p {
			display: inline-block;
			color: #fff;
			padding-left: 122px;
			position: relative;
			float: left;
			width: 100%;
		}

/* HEADERS */
.container__header__visual__container {
	z-index: 0;
}

.container__header__visual__wrapper {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	z-index: 1;
	overflow: visible;
	padding-bottom: 300px;
	background-color: #fff;
	@media (max-width: 767px) {
		display: flex;
		padding-bottom: 0 !important;
		// height: 160px;
	}
	img {
		width: 100%;
		height: auto;
		@media (max-width: 767px) {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

	.container__header__visual__wrapper:before {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		height: 376px;
		z-index: 2;
		bottom: 0px;
		background-image: url('../lib/img/th_header_shape.svg');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.container__header__visual__wrapper:before {
		bottom: 50px;
	}

	.news__article__title {
		padding-top: 100px !important;
	}
	}

	.container__header__back {
		position: absolute;
		left: 0;
		top: 0;
		background-color: #ffed00;
		font-size: 28px;
		line-height: 28px;
		height: 56px;
		width: 56px;
		z-index: 2;
		text-align: left;
		padding-left: 7px;
		overflow: hidden;
	}

		.container__header__back:before {
			content: ' ';
			position: absolute;
			width: 0;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 0;
			background-color: #522583;
			z-index: -1;
		}

			.container__header__back:hover:before {
				width: 56px;
			}

		.container__header__back i {
			z-index: 4;
		}

		.container__header__back:hover i {
			color: #fff;
		}

	.container__header__visual {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		z-index: 0;
	}

/* AANBOD ARCHIVE TOP */
.block__category__container {
	z-index: 2;
	position: relative;
}

	.block__category__wrapper {
		z-index: 8001;
	}

	.block__category__title {
		margin-top: -300px;
		background: #522583;
		padding: 16px 52px;
		height: 245px;
	}

		.block__category__title .title {
			position: relative;
			top: 40%;
			-webkit-transform: translateY(-50%);
			        transform: translateY(-50%);
			float: left;
			width: 100%;
			text-align: center;

		}

	.block__category__text {
		margin-top: -300px;
		background: #fff;
		padding: 48px 73px;
		height: 245px;
	}

/* AANBOD ARCHIVE ITEMS */
.loop__cursus__item {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	overflow: hidden;
	height: auto;
	background-color: #CCC;
}

	.loop__cursus__thumbnail {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		z-index: 2;
	}

		.loop__cursus__thumbnail img {
			-webkit-transform: translate3d(0, 0, 0);
		}

	.loop__cursus__title {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		height: auto;
		top: 41%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		z-index: 3;
		padding-left: 20px;
		padding-right: 20px;
		word-wrap: break-word;
	}

		.loop__cursus__title span {
			position: relative;
			float: left;
			width: 100%;
			font-size: 70%;
		}

	.loop__cursus__item:before {
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 100%;
		background-color: #86d0f5;
		z-index: 3;
	}

		.loop__cursus__item:hover:before {
			bottom: 0;
		}


/* NIEUWS ARTICLE ARCHIVE ITEMS */
.container__header__article__container {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background-color: purple;
}

	.large__article__title {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		height: auto;
		top: 40%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		margin-top: 0;
		margin-bottom: 0;
		z-index: 3;
		padding-left: 30px;
		padding-right: 30px;
	}

	.large__article__description {
		position: relative;
		float: left;
		width: 100%;
		height: 152px;
		padding: 40px 75px;
		background-color: #ececec;
		z-index: 4;
		overflow: hidden;
	}

		.large__article__description:after {
			content: ' ';
			position: absolute;
			right: 100%;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #86d0f5;
			z-index: -1;
		}

	.large__article__description p {
		width: 45%;
		float: right;
		color: #000;
		z-index: 3;
	}

	.large__article__date {
		color: #000;
		width: auto;
		font-size: 35px;
		z-index: 3;
		float: left;
		margin-top: 5px;
	}

	/*.container__header__article__container:hover .large__article__description { background-color: #86d0f5; }*/
	.container__header__article__container:hover .large__article__description:after { right: 0; }

	.container__header__article__container:hover .large__article__description p,
	.container__header__article__container:hover .large__article__date {
		color: #fff;
	}

.loop__article__item {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	overflow: hidden;
	height: auto;
	background-color: #CCC;
}

	.loop__article__thumbnail {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		z-index: 2;
	}

		.loop__article__thumbnail img {
			-webkit-transform: translate3d(0, 0, 0);
		}

	.loop__article__title {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		height: auto;
		top: 45%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		margin-top: 0;
		margin-bottom: 0;
		z-index: 3;
		padding-left: 30px;
		padding-right: 30px;
	}

	.loop__article__item:before {
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 100%;
		background-color: #86d0f5;
		z-index: 3;
	}

		.loop__article__item:hover:before {
			bottom: 0;
		}

	.loop__article__date {
		position: absolute;
		z-index: 3;
		width: auto;
		right: 20px;
		top: 20px;
		color: #fff;
		font-size: 16px;

	}

	.loop__article__description {
		position: relative;
		float: left;
		width: 100%;
		min-height: 86px;
		height: auto;
		padding: 15px 55px;
		background-color: #ececec;
		z-index: 4;
		color: #000;
	}

		.loop__article__description p {
			margin-bottom: 0;
		}

/* AGENDA CATEGORY ARCHIVE ITEMS */
.loop__event__item {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	padding-left: 150px;
	min-height: 125px;
}

	.loop__event__title {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		z-index: 3;
		margin: 0 0 0 0;
		font-size: 52px;
		line-height: 53px;
	}

	.loop__event__date {
		position: absolute;
		left: 0;
		width: 110px;
		background-color: #F4F4F4;
		text-align: center;
		color: #000;
		padding-bottom: 17px;
		padding-top: 38px;
	}

		.loop__event__date .day {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    background-color: #86d0f5;
		    text-align: center;
		    color: #000;
		    text-transform: uppercase;
		    font-size: 24px;
		    line-height: 24px;
		    padding: 3px 0;
		    font-weight: 400;
		    height: 30px;
		}

		.loop__event__date .date {
			position: relative;
			float: left;
			width: 100%;
			text-align: center;
			color: #000;
			font-size: 46px;
			line-height: 46px;
			font-weight: 400;
		}

		.loop__event__date .month {
		    position: relative;
		    float: left;
		    width: 100%;
		    text-align: center;
		    color: #000;
		    font-size: 24px;
		    line-height: 24px;
		    font-weight: 400;
		    text-transform: uppercase;
		}

		.loop__event__item:hover .loop__event__date .day {
			height: 100%;
		}

		.loop__event__item:hover time .day,
		.loop__event__item:hover time .date,
		.loop__event__item:hover time .month { color: #fff; }

		.loop__event__item:hover h3 { text-decoration: underline; }

	.loop__event__description {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 18px 0 0 0;
		background-color: transparent;
		z-index: 4;
		color: #000;
	}

		.loop__event__description p {
			margin-bottom: 0;
		}


/* AANBOD CATEGORY ARCHIVE ITEMS */
.loop__cursus__item--category {
	overflow: hidden;
	cursor: pointer;
}

	.loop__cursus__item--category:before {
		content: none;
	}

	.loop__cursus__item--category .loop__cursus__title:after {
		content: "\f078";
		display: inline-block;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		margin-top: 30px;
		z-index: 9003;
		font: normal normal normal 14px/1 FontAwesome;
		color: rgba(255,255,255,.0);
		font-size: inherit;
		text-rendering: auto;
		text-shadow: none;
		font-size: 16px;
	}

	.loop__cursus__item--category:hover .loop__cursus__title:after {
		margin-top: 40px;
		color: rgba(255,255,255,1);
	}

	.loop__cursus__title.noarrow:after { display: none; }

.loop__cursus__item__submenu {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: auto;
	z-index: 1;
	background-color: #522583;
	background-color: #E94553;
	padding: 42px 0 27px 0;
	list-style-type: none;
	list-style-position: inside;
	pointer-events: none;
	max-height: 200px;
	overflow: hidden;
}

	.loop__cursus__item--category:hover .loop__cursus__item__submenu,
	.loop__cursus__item--category.current .loop__cursus__item__submenu {
		max-height: none;
		top: 100%;
		pointer-events: all;
	}

	.loop__cursus__item__submenu li {
		display: inline-block;
		width: 100%;
	}

	.loop__cursus__item__submenu li a {
		position: relative;
		float: left;
		color: #fff;
		text-decoration: none;
		font-size: 26px;
		line-height: 26px;
		padding: 7px 18px 7px 38px;
		z-index: 2;
	}

		.loop__cursus__item__submenu li a:hover {
			color: #000;
		}

	.loop__cursus__item__submenu li a:before {
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		width: 0;
		z-index: -1;
	}

		.loop__cursus__item__submenu li a:hover:before {
			width: 100%;
		}

/* SHARE META */
.share__meta__wrapper {
	position: relative;
	float: left;
	width: 100%;
	background-color: #fff;
	margin-top: -2px;
}
.single__share__meta {
	position: relative;
	float: left;
	width: 100%;
	margin: 36px 0 0 0;

	margin: 0 0 0 0;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

	.share__meta__label {
		display: inline-block;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 14px;
		background-color: #e84552;
		width: auto;
		height: 40px;
		color: #fff;
		padding: 12px 25px 5px 25px;
		margin: 0 0px 0 0;
		position: relative;
		float: left;
		z-index: 1;
	}

	.share__meta__icons {
		position: relative;
		float: left;
		width: auto;
		margin-left: -204px;
		z-index: 0;
	}

		.single__share__meta:hover .share__meta__label {
			background-color: #fff;
			color: #000;
		}

		.single__share__meta:hover .share__meta__icons {
			margin-left: 0;
		}

	.share__meta__icon {
		display: inline-block;
		padding: 12px 0 5px 0;
		text-align: center;
		background-color: #fff;
		width: 40px;
		height: 40px;
		font-size: 14px;
		line-height: 14px;
		margin: 0 0 0 0;
		position: relative;
		float: left;
	}

		.share__meta__icon--smartphone { display: none; }

		.share__meta__icon:hover { background-color: #e84552; }

		.share__meta__icon i { color: #e84552; }

			.share__meta__icon:hover i { color: #fff; }

/* SINGLE CURSUS INFO */
.block__cursus__container {
	z-index: 2;
	position: relative;
}

	.block__cursus__wrapper {
		z-index: 8001;
	}

	.block__cursus__text {
		width: 100%;
		margin-top: -450px;
		background: #fff;
		padding: 48px 73px;
		height: auto;
		position: relative;
		float: left;
	}

		.block__cursus__text h2 {
			margin-bottom: 46px;
		}

	.block__cursus__text h6 {
		font-size: 23px;
		line-height: 28px;
		font-weight: 500;
		margin: 0 0 34px 0;
	}

	.block__cursus__text p {
		position: relative;
		float: left;

		margin: 0 0 34px 0;
		display: block;
		width: 100%;
	}

/* SINGLE CURSUS CALCULATOR */

.block__cursus__wrapper {
	position: relative;
	float: left;
	width: 100%;
	margin-top: -350px;
}

	.block__cursus__inschrijven {
	    position: relative;
	    float: left;
	    width: 90%;
	    background-color: #522583;
	    display: inline-block;
	    margin-left: 50%;
	    -webkit-transform: translateX(-50%);
	            transform: translateX(-50%);
	    vertical-align: middle;
	    text-align: center;
	    height: 86px;
	    color: #fff;
	    padding-left: 86px;
	    font-size: 26px;
	    margin-top: 24px;
	    margin-bottom: 46px;
			@media (max-width: 767px) {
				font-size: 2rem;
			}
	}

		.block__cursus__inschrijven i {
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			height: 86px;
			width: 86px;
			background-color: #ffed00;
			font-size: 33px;
			padding-top: 25px;
			padding-left: 25px;
			color: #000;
			text-align: left;
		}

		.block__cursus__inschrijven input,
		.block__cursus__inschrijven button[type=submit]  {
			position: absolute !important;
			top :0;
			bottom :0;
			right: 0;
			left: 0;
			width: 100% !important;
			appearance: none;
			border: none;
			background: none;
			z-index: 1;
		}

		.block__cursus__inschrijven:hover span { color: #000; }

		.block__cursus__inschrijven:hover i { width: 100%; }

	.block__cursus__details {
		position: relative;
		float: left;
		width: 100%;
		background: #86d0f5;
		padding: 28px 27px 28px 27px;
		height: auto;
		position: relative;
		float: left;
		margin: 0 0 46px 0;
		color: #fff;
		font-weight: 300;
	}

	.block__cursus__detail {
		position: relative;
		float: left;
		width: 100%;
		margin: 0 0 34px 0;
	}

	.block__cursus__details label {
		font-weight: 500;
		color: #fff;
		position: relative;
		float: left;
		width: 100%;
	}

	.block__cursus__info {
		position: relative;
		float: left;
		width: 100%;
		background: #86d0f5;
		padding: 28px 42px 100px 42px;
		height: auto;
		position: relative;
		float: left;
	}

	.block__cursus__reset {
		position: absolute;
		right: 36px;
		opacity: 0;
		pointer-events: none;
	}

		.block__cursus__reset i {
			color: #522583;
			font-size: 14px;
		}

		.block__cursus__reset.active {
			opacity: 1;
			pointer-events: all;
		}

	.block__cursus__reset:hover i {
		color: #000;
		transform: rotate(45deg);
		transform-origin: center;
	}

	.block__cursus__info .gform_wrapper {
		position: relative;
		float: left;
		width: 100%;
		margin: 26px 0 0 0;
		padding: 0 0 0 0;
	}

		.block__cursus__info .gform_wrapper .gform_fields {
			list-style-type: none;
			list-style-position: inside;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}

		.block__cursus__info .gform_wrapper .gfield_label { display: none; }

		.block__cursus__info .gform_wrapper .gfield {
			position: relative;
			float: left;
			width: 50%;
			margin: 0 0 28px 0;
		}

			@media (max-width: 1199px) {
				.block__cursus__info .gform_wrapper .gfield {
					width: 100%;
				}
			}

			@media (max-width: 992px) {
				.block__cursus__info .gform_wrapper .gfield {
					width: 50%;
				}
			}

			@media (max-width: 574px) {
				.block__cursus__info .gform_wrapper .gfield {
					width: 100%;
				}
			}

			.block__cursus__info .gform_wrapper .gfield#field_2_6 {
				width: 100%;
				float: left;
			}

				.block__cursus__info .gform_wrapper .gfield#field_2_6 select { width: 100%; }

			/*.block__cursus__info .gform_wrapper .gfield.float_right select {
				float: right;
			}*/

		.block__cursus__info .gform_wrapper .field_admin_only { display: none; }

		.block__cursus__info .gform_wrapper .gfield select {
			border: none;
			background-color: #ececec;
			padding: 15px 20px;
			border-radius: 0;
			-webkit-appearance: none;
			width: 95%;
			background-image: url('../lib/img/th_select_arrow.svg');
			background-position: right center;
			background-size: 31px auto;
			background-repeat: no-repeat;
		}

			.block__cursus__info .gform_wrapper .gfield select:hover {
				background-color: #fff;
			}

		.block__cursus__info .gform_footer { display: none; }

		.block__cursus__detail__price,
		.block__cursus__info .price-wrapper {
			position: absolute;
			left: 0;
			right: 0;
			background-color: #d4d1c2;
			padding: 30px 15px;
			text-align: center;
			bottom: -30px;
			height: 120px;
		}

		.block__cursus__info .price-wrapper small {
			font-size: 11px;
			line-height: 12px;
		}

		@media (max-width: 410px) {
			.block__cursus__detail__price,
			.block__cursus__info .price-wrapper {
				font-size: 16px;
				line-height: 20px;
				height: 112px;
			}
			.block__cursus__info .price-wrapper small {
				font-size: 11px;
				line-height: 12px;
			}
		}


		.block__cursus__info .price-wrapper {
			height: 140px;
			@media (max-width: 767px) {
				height: 140px;
			}
			a {
				margin-top: 10px;
				display: block;
			}
		}

			.block__cursus__detail__price strong,
			.block__cursus__info .price-wrapper strong { font-weight: 600; }

		.block__cursus__detail__price {
			bottom: -85px;
			color: #000;
		}

		.block__cursus__detail__btw {
			position: absolute;
			bottom: -35px;
			left: 0;
			float: left;
			width: 100%;
			height: 35px;
			background-color: #bfbdaf;
			font-size: 12px;
			line-height: 12px;
			padding: 0 0 0 0;
		}

	/*
	SINGLE CURSUS ROOSTERS
	*/
	.block__roosters__wrapper {
		position: relative;
		float: left;
		width: 100%;
		padding: 50px 50px 0 50px;
		background-color: #86d0f5;
		margin-bottom: 50px;
		// display: none;
	}

			.block__roosters__wrapper.step__done button.button--nextform { opacity: 0; }

		.block__roosters__wrapper.step__done {
			opacity: .5;
			pointer-events: none;
		}

		.block__roosters__list {
			position: relative;
			float: left;
			width: 100%;
			list-style-type: none;
			list-style-position: inside;
			margin: 10px 0 0 0;
			padding: 0 0 0 0;
		}

			.block__roosters__list li {
				position: relative;
				float: left;
				width: 100%;
				vertical-align: middle;
				display: table-cell;
				padding: 12px 12px 12px 65px;
				margin: 0 0 1px 0;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.block__roosters__list .ginput_container_radio,
			.gform_wrapper.inschrijven__form_wrapper .gfield.block__roosters__list .gfield_label {
				width: 100%;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.gfield_html_formatted {
				color: #fff;
				font-weight: 600;
			}

			.block__roosters__list li input[type=radio] {
				display: none;
			}

			.block__roosters__list li input[type=radio] + label {
				display: inline-block;
				width: 100%;
			}

			.block__roosters__list li input[type=radio] + label span {
				z-index: 1;
				position: relative;
				display: inline-block;
				font-size: 17px;
				line-height: 17px;
			}

			.block__roosters__list li input[type=radio] + label span i {
				margin-right: 8px;
				font-size: 17px;
			}

				.block__roosters__list li input[type=radio] + label span.roosters__list--location {
					font-weight: 700;
					width: 15%;
				}

				.block__roosters__list li input[type=radio] + label span.roosters__list--time,
				.block__roosters__list li input[type=radio] + label span.roosters__list--date,
				.block__roosters__list li input[type=radio] + label span.roosters__list--repeative,
				.block__roosters__list li input[type=radio] + label span.roosters__list--duration,
				.block__roosters__list li input[type=radio] + label span.roosters__list--lessons {
					margin-left: 3%;
					font-weight: 400;
				}

				.block__roosters__list li input[type=radio] + label span.roosters__list--duration { width: 12%; }
				.block__roosters__list li input[type=radio] + label span.roosters__list--time { width: 26%; }

				.block__roosters__list li input[type=radio] + label span.roosters__list--repeative {
					text-transform: lowercase;
				}

			.block__roosters__list li input[type=radio] + label:after {
				content: ' ';
				position: absolute;
				left: 12px;
				top: 12px;
				width: 27px;
				height: 27px;
				border: 6px solid #86d0f5;
				border-radius: 50%;
				background-color: #fff;
			}

				.block__roosters__list li input[type=radio]:checked + label:after {
					background-color: #000;
				}

			.block__roosters__list li input[type=radio] + label:before {
				content: ' ';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: #ececec;
				z-index: 0;
			}

				.block__roosters__list li:hover input[type=radio] + label:before {
					background-color: #fff;
				}

				.block__roosters__list li input[type=radio]:checked + label:before {
					background-color: #522583;
				}

				.block__roosters__list li input[type=radio]:checked + label span {
					color: #fff;
				}

		.block__roosters__wrapper button.button--advanced {
			margin-right: -50px;
			margin-top: 50px;
			margin-bottom: 0px;
		}

			.block__roosters__wrapper button.button--advanced[disabled=disabled] {
				pointer-events: none;
				opacity: .5;
			}

		.roosters__price {
			position: absolute;
			bottom: 20px;
			color: #fff;
			font-size: 66px;
			line-height: 66px;
			opacity: 0;
		}

	/*
	Inschrijven form
	*/
	.container__form__wrapper {
		position: relative;
		float: left;
		width: 100%;
		background-color: #fff;
		padding-bottom: 93px;
		display: none;
	}

	.gform_wrapper.inschrijven__form_wrapper .validation_error {
	    position: relative;
	    float: left;
	    width: 100%;
	    background-color: #e84552;
	    margin-bottom: 20px;
	    padding: 20px;
	    color: #fff;
	    font-size: 21px;
	    border-left: 20px solid #fff;
	    border-right: 20px solid #fff;
	    padding: 23px 40px;
	    max-height: 66px;
	    font-size: 21px;
	    line-height: 21px;
	    font-weight: 500;
	}

		.gform_wrapper.inschrijven__form_wrapper .gfield_description.validation_message {
		    color: #fff;
		    font-size: 14px;
		    margin: 0 0 0 0;
		    padding: 0 5px;
		    position: absolute;
		    background-color: #e84552;
		}

		.gform_wrapper.inschrijven__form_wrapper .gf_ul_list .gfield_description.validation_message {
			left: 20%;
			top: 37px;
		}

	.gform_wrapper.inschrijven__form_wrapper .gf_progressbar_wrapper {
		position: absolute;
		bottom: -93px;
		left: 0;
		width: 100%;
		height: 93px;
		background-color: #F4F4F4;
	}

		.gform_wrapper.inschrijven__form_wrapper .gf_progressbar_title { display: none; }

		.gform_wrapper.inschrijven__form_wrapper .gf_progressbar_percentage {
			height: 93px;
			padding: 30px 10px;
			min-width: 50px;
			background-color: #e84552;
		}

		.gform_wrapper.inschrijven__form_wrapper .gf_progressbar_percentage span {
			font-size: 26px;
			line-height: 32px;
			color: #fff;
			float: right;
			display: none;
		}

		.gform_wrapper.inschrijven__form_wrapper .gf_progressbar_percentage.percentbar_0 {
			width: 50% !important;
		}

		.gform_wrapper.inschrijven__form_wrapper .gf_progressbar_percentage.percentbar_50 {
			width: 100% !important;
		}

	.gform_wrapper.inschrijven__form_wrapper .gform_body {
		padding-left: 21px;
		padding-right: 21px;

	}

		.block__roosters__roosters--lessen .gform_wrapper.inschrijven__form_wrapper .gform_body {
			padding-left: 0;
			padding-right: 0;
		}

		.gform_wrapper.inschrijven__form_wrapper .gform_page {
			position: relative;
			float: left;
			width: 100%;
		}

		.gform_wrapper.inschrijven__form_wrapper .gform_page_fields {
			position: relative;
			float: left;
			width: 100%;
			padding: 45px 45px;
			background-color: #86d0f5;
		}

		.gform_wrapper.inschrijven__form_wrapper .gform_fields {
			list-style-type: none;
			list-style-position: inside;
			position: relative;
			float: left;
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}

		.gform_wrapper.inschrijven__form_wrapper .gsection_title {
			position: relative;
			float: left;
			width: 100%;
			margin: 0 0 0 0;
			color: #fff;
			font-size: 28px;
			line-height: 28px;
			font-weight: 300;
		}

		.gform_wrapper.inschrijven__form_wrapper .gfield {
			position: relative;
			float: left;
			width: 100%;
			padding: 0 0 0 0;
			margin: 0 0 22px 0;
		}

			.gform_wrapper.inschrijven__form_wrapper .gfield.float_right select {
				float: right;
			}


			.gform_wrapper.inschrijven__form_wrapper .gfield.gf_left_half {
				float: left;
				width: 48%;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.gf_right_half {
				float: right;
				width: 48%;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.gf_right_half_small {
				width: 23%;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.gf_right_half_small:nth-child(odd) {
				margin-left: 2%;
				float: right;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.no_label .gfield_label {
				display: none;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield .gfield_label {
				font-weight: 300;
				color: #739fba;
				margin: 10px 0 20px 0;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.block__roosters__list .gfield_label {
				font-weight: 600;
				color: #fff;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield.block__roosters__list ul {
				padding: 0 0 0 0;
			}

			.gform_wrapper.inschrijven__form_wrapper input[type=text],
			.gform_wrapper.inschrijven__form_wrapper input[type=email],
			.gform_wrapper.inschrijven__form_wrapper input[type=name],
			.gform_wrapper.inschrijven__form_wrapper input[type=tel],
			.gform_wrapper.inschrijven__form_wrapper textarea,
			.gform_wrapper.inschrijven__form_wrapper select {
				display: inline-block;
				width: 100%;
				-webkit-appearance: none;
				-moz-appearance: none;
				border: none;
				background-color: #ececec;
				border-radius: 0;
				height: 53px;
				padding: 0 30px;
				font-size: 24px;
			}

			.gform_wrapper.inschrijven__form_wrapper select {
			    border: none;
			    background-color: #ececec;
			    border-radius: 0;
			    -webkit-appearance: none;
			    background-image: url('../lib/img/th_select_arrow.svg');
			    background-position: right center;
			    background-size: 31px auto;
			    background-repeat: no-repeat;
			}

			.gform_wrapper.inschrijven__form_wrapper textarea {
				height: auto;
				padding-top: 30px;
				max-height: 155px;
			}

			.gform_wrapper.inschrijven__form_wrapper .gfield_date_dropdown_day { width: 30.50%; display: inline-block; margin: 0 3.0% 0 0; }
			.gform_wrapper.inschrijven__form_wrapper .gfield_date_dropdown_month { width: 30.50%; display: inline-block; margin: 0 1.0% 0 1.0%; }
			.gform_wrapper.inschrijven__form_wrapper .gfield_date_dropdown_year { width: 30.50%; display: inline-block; margin: 0 0 0 3.0%; }


			.gform_wrapper.inschrijven__form_wrapper .gf_ul_list .gfield_label {
				width: 20%;
			}

			.gform_wrapper.inschrijven__form_wrapper .ginput_container_checkbox,
			.gform_wrapper.inschrijven__form_wrapper .ginput_container_radio {
				display: inline-block;
				width: auto;
				float: none;
			}

			.gform_wrapper.inschrijven__form_wrapper .gf_ul_list {
				margin-bottom: 0px;
			}

			.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul {
				list-style-type: none;
				list-style-position: inside;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}

				.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li {
					display: inline-block;
					margin: 0 36px 0 0;
				}

				.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li input {
					display: none;
				}

				.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li input + label:before {
					content: ' ';
					position: absolute;
					margin-top: 3px;
					width: 16px;
					height: 16px;
					margin-left: -37px;
					background: #ececec;
				}

					.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li input[type=radio] + label:before {
						border-radius: 50%;
					}

					.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li input:checked + label:before {
						background-color: #522583;
					}

				.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li label {
					font-weight: 400;
					font-size: 21px;
					line-height: 21px;
					padding-left: 37px;
				}

				.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li label a {
					color: #000;
					border-bottom: 1px solid #000;
					text-decoration: none;
				}

					.gform_wrapper.inschrijven__form_wrapper .gf_ul_list ul li label a:hover {
						border-color: transparent;
					}

		.gform_wrapper.inschrijven__form_wrapper .gform_page_footer {
			position: relative;
			float: left;
			width: 100%;
			background-color: #86d0f5;
		}


			.gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--finish.processing,
			.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--finish.processing {
				opacity: .5;
				pointer-events: none;
			}

			.gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--finish,
			.gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--next,
			.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--finish,
			.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--next,
			.gform_wrapper.inschrijven__form_wrapper .gform_page_footer button[type=submit] {
				position: relative;
				float: right;
				width: 100%;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				height: 86px;
				color: #fff;
				// padding-left: 86px;
				font-size: 26px;
				// padding-left: 126px;
				// padding-right: 40px;
				margin: 0 0 0 0;
				-webkit-transform: translateX(0);
				        transform: translateX(0);
			}

				.gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--finish i,
				.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--finish i,
				.gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--next i,
				.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--next i,
				.gform_wrapper.inschrijven__form_wrapper .gform_page_footer button[type=submit] i {
					color: #fff;
					background-color: #e63338;
					padding-left: 29px;
				}

				.gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--finish:hover span,
				.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--finish:hover span,
				.gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--next:hover span,
				.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--next:hover span,
				.gform_wrapper.inschrijven__form_wrapper .gform_page_footer button[type=submit]:hover span { color: #fff; }

				.block__roosters__roosters--lessen .gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--finish,
				.block__roosters__roosters--lessen .gform_wrapper.inschrijven__form_wrapper .gform_footer .gform__next__button--next {
					margin-right: -50px;
					display: none;
				}

		.gform_wrapper.inschrijven__form_wrapper .gform_page_footer .gform__next__button--prev {
			float: left;
		}

		#gform_page_1_1[style^=display] .gform_page_footer .gform__next__button--next { display: none; }

		#gform_page_1_1[style^=display] {
			opacity: .5;
			display: block !important;
		}

		.gform_validation_container { display: none; }

		.gform_wrapper.inschrijven__form_wrapper .gfield .gfield_label .gfield_required {
			margin-left: 4px;
			font-size: 21px;
			line-height: 16px;
			color: inherit;
		}

		.gform_wrapper.inschrijven__form_wrapper .gform_page_footer {
			margin-bottom: 50px;
		}


		/*
		.container__form__wrapper,
		#gform_page_1_2 { display: block !important; }
		*/

/*
 Single nieuws
*/

.news--padding {
	padding-bottom: 200px;
}

.news__article {
	padding-bottom: 200px;
}

.news__article strong {
	font-weight: 500;
}

.news__article--date {
	text-align: right;
	font-size: 14px;
	margin-top: 4px;
}

.news__article img {
	width: 100%;
	height: auto;
}

	.news__article h6 {
		font-size: 23px;
		line-height: 28px;
		font-weight: 500;
		margin: 0 0 34px 0;
	}

	.news__article__title {
	    z-index: 3;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    text-align: center;
	    padding-top: 120px;
	    color: #fff;
	    font-size: 67px;
	    line-height: 81px;
	    height: 376px;
	}

	@media (max-width: 768px) {
		.news__article__title {
		    padding-top: 60px;
		}
	}


/* IN HET ONDERWIJS */

.subpages a {
	color: white;
	text-align: center;
	font-size: 24px;
}

.ingesprek {
	background: yellow;
  background-color: #ffed00;
	padding: 20px 15px 50px;
	position: relative;
}

.ingesprek a {
	color: black;
	text-decoration: underline;
}

.ingesprek a:hover {
	text-decoration: none;
}

.center {
	margin-top: 40px;
	text-align: center;
}

.ingesprek .center {
	position: absolute;
	bottom: -30px;
	left: 0;
}

a.button {
	padding: 20px 40px;
	background: #d4d1c2;
	color: white;
	font-size: 16px;
	margin: 0px auto;
	display: inline-block;
}

a.button:hover {
	background: #707068;
}

.spacing {
	margin-top: 40px;
}

.spacing .title {
	font-size: 23px;
	line-height: 23px;
}


/*
Tablets
*/
@media (max-width: 1024px) {
	.highlights__slide__arrow { font-size: 43px; }

	.title--large { font-size: 57px; line-height: 61px; }

	.header__wrapper__tagline { font-size: 19px; }

	.block__intro,
	.block__category__text { padding: 28px 53px; }

	.loop__cursus__item__submenu li a { padding: 7px 18px 7px 18px; font-size: 23px; line-height: 23px; font-size: 23px; line-height: 23px; }
	.loop__cursus__item__submenu { max-height: 1px; padding: 22px 0 17px 0; }

	.comp__start__finder i { height: 66px; padding-top: 17px; }
	.comp__start__finder { height: 66px; margin-top: 14px; width: 100%; }

	.block__cursus__text { padding: 28px 53px; }
	.block__roosters__wrapper { padding: 30px 30px 0 30px; }
	.block__roosters__wrapper button.button--advanced { margin-right: -30px; }

	.block__cursus__inschrijven { width: 100%; }

	.block__roosters__list li input[type=radio] + label:after { top: 15px; }
	.block__roosters__list li input[type=radio] + label span.roosters__list--location { width: 24%; }
	.block__roosters__list li input[type=radio] + label span.roosters__list--time { width: 37%; }
	.block__roosters__list li input[type=radio] + label span.roosters__list--date { width: 30%; }
	.block__roosters__list li input[type=radio] + label span.roosters__list--lessons,
	.block__roosters__list li input[type=radio] + label span.roosters__list--repeative,
	.block__roosters__list li input[type=radio] + label span.roosters__list--duration { width: 13%; margin-left: 0; }

	.gform_wrapper.inschrijven__form_wrapper input[type=text],
	.gform_wrapper.inschrijven__form_wrapper input[type=email],
	.gform_wrapper.inschrijven__form_wrapper input[type=name],
	.gform_wrapper.inschrijven__form_wrapper input[type=tel],
	.gform_wrapper.inschrijven__form_wrapper textarea,
	.gform_wrapper.inschrijven__form_wrapper select { font-size: 19px; }

	.loop__event__description { padding-top: 8px; }


}

@media (max-width: 1023px) {

	.title--large { font-size: 44px; line-height: 47px; }

	.block__category__title,
	.block__intro,
	.block__category__text { padding: 28px 33px; }
	.block__category__text p { font-size: 19px; }

	.highlights__slider__wrapper { margin-left: 36px; }

	.block__aanbod--mini { padding: 10px 20px 36px 20px; margin: 0 0 36px 0; }
	.block__aanbod:not(.block__aanbod--mini):first-child { margin-bottom: 36px; }
	.block__cursus__text { margin-top: 36px; }
	.block__intro--home { margin-top: 0; }

}

@media (max-width: 991px) {

	.subpage__navigation {
		z-index: 300;
	}

	.ingesprek .center {
		position: relative;
		bottom: auto;
		left: auto;
	}


}

/*
Smartphones
*/
@media (max-width: 767px) {

  .block__agenda { overflow: auto; }

	.title--large { font-size: 40px; line-height: 42px; }

	.share__meta__icon--desktop { display: none; }
	.share__meta__icon--smartphone { display: block; }

	.container__row__wrapper.no-gutter { padding-left: 15px; padding-right: 15px; }
	.container__row__wrapper { padding-left: 0; padding-right: 0; }

	.container__header__visual__wrapper:before { bottom: -29px; }

	.block__agenda,
	.block__nieuws,
	.block__aanbod,
	.block__category__title,
	.block__intro,
	.block__category__text { padding-left: 21px; padding-right: 21px; }
	.block__category__text { margin-top: 0; padding: 28px 0px; }

	.comp__start__finder i { width: 56px; font-size: 27px; padding-left: 15px; padding-top: 20px; }
	.comp__start__finder { padding-left: 58px; }

  .highlights__slide__arrow { font-size: 35px; }

	body { padding-top: 74px; }

	.block__cursus__text { padding-left: 14px; padding-right: 14px; }
	.block__cursus__detail { margin-bottom: 14px; }
	.block__cursus__details label,
	.block__cursus__detail { font-size: 17px; }

	body.search--visible .header__wrapper:before { top: 80px; }

	.header__wrapper {
		z-index: 9001;
		padding-top: 21px;
		padding-bottom: 21px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 74px;
	}

		.header__wrapper:before {
			content: ' ';
			position: fixed;
			left: 0;
			top: 0;
			left: -100%;
			height: 74px;
			width: 100%;
			background-color: #E84453;
		}

		body.header--sticky--inverted .header__wrapper:before {
			left: 0;
		}

	.header__phone__button,
	.header__menu__button,
	.header__search__button {
		margin-top: 5px;
	}

	.search__bar { height: 74px; }

	body.search--visible .header__wrapper { padding-top: 101px; }

	body.search--visible { padding-top: 154px; }
	.container__slider__backdrop .container__row__wrapper { min-height: 230px; }
	.container__slider__backdrop .container__row__wrapper { margin-top: -220px; }
	.highlights__slider__counter { padding-top: 0px; }
	.highlights__slider__counter .count,
	.highlights__slider__counter .label { font-size: 61px; }

	.highlights__slider { height: 200px; }
	.highlights__slide { width: auto; }
	.highlights__slide__inner { padding-right: 0; height: auto; }
	.highlights__slide__title { font-size: 34px; line-height: 37px; padding-left: 15px; padding-right: 15px; }
	.highlights__slide__excerpt { width: 100%; max-width: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 14px 14px; font-size: 18px; line-height: 22px; }

	.block__cursus__wrapper { 
		margin-top: -110px;
		@media (max-width: 767px) {
			margin-top: 0px;
		}
	}
	.block__cursus__details { padding-left: 14px; padding-right: 14px; }
	.block__cursus__detail__price { font-size: 17px; }

	.agenda__articles__article p { display: none; }

	.header__sticky__message { padding: 13px 33px 13px 13px; }
	.header__sticky__message label { display: none; }
	.header__sticky__message button { position: absolute; right: 13px; top: 13px; }

	.container__header__visual__wrapper:before { background-size: auto 70%; bottom: 20px; height: 325px; top: 40px; }


	.news__article__title {
		height: auto;
		font-size: 47px;
		top: 130px;
		line-height: 51px;
		padding-top: 120px;
		padding-top: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.news__article--date { text-align: left; }
	.container__header__visual__wrapper { padding-bottom: 110px; }

	.footer__wrapper .header__search__button { display: none; }
	.footer__wrapper .header__menu--left,
	.footer__wrapper .header__menu--right { width: 100%; text-align: center; }
	.footer__wrapper .header__menu--right { padding-top: 7px; }

	.block__roosters__list li input[type=radio] + label span.roosters__list--location,
	.block__roosters__list li input[type=radio] + label span.roosters__list--time,
	.block__roosters__list li input[type=radio] + label span.roosters__list--date,
	.block__roosters__list li input[type=radio] + label span.roosters__list--lessons,
	.block__roosters__list li input[type=radio] + label span.roosters__list--repeative,
	.block__roosters__list li input[type=radio] + label span.roosters__list--duration { width: 100%; margin-left: 0; margin-bottom: 10px; }

	.gform_wrapper.inschrijven__form_wrapper .gform_page_fields { padding-left: 14px; padding-right: 14px; }
	.gform_wrapper.inschrijven__form_wrapper .gfield.gf_right_half,
	.gform_wrapper.inschrijven__form_wrapper .gfield.gf_left_half { width: 100%; }
	.gform_wrapper.inschrijven__form_wrapper .gfield.gf_right_half_small:nth-child(odd) { margin-left: 0; }
	.gform_wrapper.inschrijven__form_wrapper .gfield_date_dropdown_month,
	.gform_wrapper.inschrijven__form_wrapper .gfield_date_dropdown_year,
	.gform_wrapper.inschrijven__form_wrapper .gfield_date_dropdown_day { width: 100%; margin: 0 0 3.0% 0; }
	.gform_wrapper.inschrijven__form_wrapper .gfield .gfield_label { font-size: 18px; }

	/*
	.highlights__slider { height: 232px; }
	.highlights__slide__inner { height: 232px; width: auto; }
	*/

	/* .block__aanbod { padding: 16px 21px 42px 21px; } */

}

@media (max-width: 767px) {

	.header__wrapper__logo {
		width: 50%;
	}

	.content-nav {
		position: relative;
		z-index: 50;
	}

	.news__article__title {
	    top: 245px;
	    max-height: 100px;
	}

	.container__header__visual__wrapper:before {
		top: 188px;
		height: 220px;
	}

	.content-nav .container__row__wrapper {
		padding-top: 10px;
	}

	.ingesprek {
	    background: yellow;
	    background-color: #ffed00;
	    padding: 30px;
	}

	.block__category__title {
		margin-top: 0;
	}

	.page-template-start .highlights__slider__wrapper {
	    background: #FFF;
	    display: block;
	    margin-top: 0;
	    margin-left: 15px;
	    padding-left: 15px;
	    padding-top: 15px;
	}

		.page-template-start .highlights__slider {
			height: auto;
		}


}

@media (max-width: 700px) {

	.news__article__title {
		font-size: 35px;
		line-height: 40px;
	    top: 224px;
	    max-height: 100px;
	}

	.container__header__visual__wrapper:before {
		top: 170px;
		height: 200px;
	}

	.container__header__visual__wrapper {
	    padding-bottom: 80px;
	}

}

@media (max-width: 640px) {

	.container__header__visual__wrapper:before {
	  top: 160px;
	  height: 170px;
	}

}

@media (max-width: 670px) {

	.container__header__visual__wrapper {
	    padding-bottom: 80px;
	}

	.content-nav .subpage__navigation {
		margin-bottom: 10px;
	}

}

@media (max-width: 580px) {

	.container__header__visual__wrapper:before {
	  top: 144px;
	  height: 170px;
	}


}

@media (max-width: 550px) {

	.header__wrapper__logo {
		width: 100%;
	}

	.news__article__title {
		font-size: 22px;
		line-height: 28px;
	    top: 115px;
	    max-height: 70px;
	}


	.container__header__visual__wrapper:before {
	    top: 85px;
	    height: 155px;
	}

	.content-nav .subpage__navigation {
		margin-bottom: 0;
	}

	.title--semilarge {
	    font-size: 44px;
	    line-height: 48px;
	}


}

@media (max-width: 550px) {

	.container__header__visual__wrapper:before {
	  top: 140px;
	  height: 155px;
	}


}

@media (max-width: 525px) {

	.container__header__visual__wrapper:before {
		top: 120px;
		height: 155px;
	}


}

@media (max-width: 470px) {


	.container__header__visual__wrapper:before {
		top: 95px;
		height: 165px;
	}


}

@media (max-width: 410px) {

	.container__header__visual__wrapper:before {
		top: 90px;
		height: 165px;
	}


}

@media (max-width: 405px) {

	.container__row__wrapper

	.page-template-start .container__slider__backdrop .container__row__wrapper {
	    margin-top: -170px;
	    min-height: 180px;
	}


}

@media (max-width: 380px) {

	.news__article__title {
		top: 88px;
	    max-height: 70px;
	}

	.container__header__visual__wrapper:before {
	    top: 90px;
	    height: 135px;
	}

	.ingesprek {
	    padding: 20px;
	}

	.container__header__visual__wrapper {
	    padding-bottom: 56px;
	}

	.block__category__title {
		height: 150px;
	}

	.block__category__title .title {
		margin: 0;
		top:50%;
	}

	.container__row__wrapper.no-gutter {
		padding-top: 16px;
	}

}

/*
  Header
*/
@media (max-width: 370px) {
  .header__phone__button, .header__menu__button, .header__search__button {
    margin: 6px 0 0 0px;
  }
}


@media (max-width: 700px) {
	.news__article__title {
		top: 199px;
	}
}
@media (max-width: 580px) {
	.news__article__title {
		top: 184px;
	}
}

@media (max-width: 525px) {
	.news__article__title {
		top: 158px;
	}
}

@media (max-width: 470px) {
	.news__article__title {
		top: 135px;
	}
}

@media (max-width: 410px) {
	.news__article__title {
		top: 126px;
	}
}
@media (max-width: 380px) {
	.news__article__title {
		top: 115px;
	}
}
@media (max-width: 340px) {
	.news__article__title {
		top: 97px;
	}
}
@media (max-width: 370px) {
	.container__header__visual__wrapper:before {
    top: 70px;
    height: 135px;
	}
}

.teacher-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.teacher-grid:before {
	display: none;
}

.teacher-grid:after {
	display: none;
}

	.teacher-grid .teacher-block {
		margin-bottom: 30px;
	}

		.teacher-grid .teacher-block .thumbnail {
			border: 0;
		}

		.teacher-grid .teacher-block .details {
			margin-bottom: 30px;
		}


