// Import the original css
// This way it benefits from gulp's browser compatiblity functions
@import 'style-css';

// Social media
.social__menu {
  a {
    &,&:link,&:visited {color: white;}
    &:hover { text-decoration: underline;}
  }
}

// Proefles formulier
.gform_wrapper {
  .gform_heading { display: none; }
  .gform_body {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        padding-bottom: 20px;
      }
    }
    input {
      display: block;
      padding: 5px;
      width: calc(100% - 5px);
    }
    .ginput_complex {
      padding-bottom: 20px;
      span {
        position: relative;
        display: inline-block;
        width: 49%;
      }
      label {
        position: absolute;
        left: 0;
        bottom: -30px;
        font-weight: 300;
        font-size: 0.75em;
        opacity: 0.75;
      }
    }
    .gfield_description {
      padding: 5px 0 10px 0;
      font-size: 0.75em;
    }
    .ginput_container_date {
      label { display: none; }
      input {
        float: left;
        width: auto;
        margin-right: 5px;
      }
      +.gfield_description {
        display: block;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        font-weight: 300;
        opacity: 0.75;
      }
    }
    .gfield_select {
      padding: 5px;
      min-width: calc(100% - 5px);
      width: 100%;
    }
    .ginput_container_textarea textarea {
      padding: 5px;
      height: 200px;
      min-width: calc(100% - 5px);
      width: 100%;
    }
    .gfield_checkbox {
      input {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 4px;
        margin-right: 5px;
      }
      label {
        font-weight: 400;
      }
    }
    .gf_left_half,
    .gf_right_half {
      display: inline-block;
      width: 50%;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
  .gform_footer {
    .button {
      width: auto;
      @extend .button-yellow;
    }
  }
}

.gform_validation_error {
  .validation_error {
    margin-bottom: 20px;
    color: #e84552;
  }

  .gform_body {
    .gform_fields {
      .gfield {
        &.gfield_error {
          .validation_message {
            display: block;
            color: #e84552;
          }
        }
      }
    }
  }
}

// VIDEO HEADER

.video-header {
  .buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    z-index: 10;
    @media (max-width: 767px) {
      position: relative;
      margin-top: -48px;
    }
    @media (max-width: 579px) {
      margin-top: -32px;
    }
    a {
      &,&:link,&:visited {
        position: relative;
        display: inline-block;
        flex-basis: 1;
        flex-grow: 1;
        max-width: 100px;
        height: 48px;
        line-height: 48px;
        margin: 0 10px;
        text-align: center;
        color: #ffffff;
        background-color: #522583;
        @media (max-width: 579px) {
          height: 32px;
          line-height: 32px;
        }
        &:hover {
          background-color: #e84552;
        }
      }
      em {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: rgba(0,0,0,0.5);
      }
      span {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        height: 48px;
        line-height: 48px;
        @media (max-width: 579px) {
          font-size: 16px;
          line-height: 32px;
          height: 32px;
        }
      }
    }
  }
}

  .video-element {
    position: relative;
    z-index: 1;
    display: block;
    height: auto;
    width: 100%;
    padding: 0;
    border: 0;
    min-width: 300px;
    min-height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-width: 1499px) {
      height: 500px;
    }
    @media (max-width: 1199px) {
      height: 470px;
    }
    @media (max-width: 1023px) {
      height: 360px;
    }
    @media (max-width: 767px) {
      height: auto;
      min-height: auto;
    }
    .video-fallback {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: inherit;
      // background-image: url(~assets/popma-default.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .sound-toggle {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 32px;
      height: 32px;
      z-index: 50;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Laag_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 512' style='enable-background:new 0 0 640 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M544.9-0.5c-3.1,0-6.3,0.5-9.2,1.5L244.9,97c-12.7,4.2-21.4,16.5-21.4,30.5v244.8c-17-12.8-39.3-20.8-64-20.8 c-53,0-96,35.8-96,80s43,80,96,80s96-35.8,96-80v-176l288-96v148.8c-17-12.8-39.3-20.8-64-20.8c-53,0-96,35.8-96,80s43,80,96,80 s96-35.8,96-80v-336C575.5,13.2,561.2-0.5,544.9-0.5z M159.5,479.5c-34.7,0-64-22-64-48s29.3-48,64-48s64,22,64,48 S194.2,479.5,159.5,479.5z M479.5,415.5c-34.7,0-64-22-64-48s29.3-48,64-48s64,22,64,48S514.2,415.5,479.5,415.5z M543.5,125.8 l-288,96v-94.3h-0.6v-0.1l288.6-95.3V125.8z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: center center;
      cursor: pointer;
      @media (max-width: 767px) {
        top: 10 px;
        left: 10px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
      }
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Laag_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 512' style='enable-background:new 0 0 640 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M637,485.3L23,1.8c-3.3-2.8-8.3-2.3-11.1,1c-0.1,0.1-0.1,0.1-0.2,0.2l-10,12.5c-2.8,3.4-2.3,8.4,1.1,11.1 c0,0,0.1,0.1,0.1,0.1l614,483.5c3.4,2.8,8.3,2.3,11.1-1.1c0,0,0.1-0.1,0.1-0.1l10-12.5c2.8-3.3,2.3-8.2-1-11 C637.1,485.4,637.1,485.4,637,485.3L637,485.3z M256,128h-0.6v-0.1L544,32.6v93.7l-218.7,72.9l30.1,23.7L544,160v148.8 C527,296,504.7,288,480,288c-11.8,0-23.6,1.9-34.8,5.6l33.6,26.5c0.4,0,0.8-0.1,1.1-0.1c34.7,0,64,22,64,48c0,1-0.3,2-0.4,3.1 l27.3,21.5c3.2-7.8,5-16.1,5.1-24.6V32c0-18.2-14.3-32-30.6-32c-3.1,0-6.3,0.5-9.2,1.5l-290.8,96c-10.3,3.4-17.7,12.2-20.2,22.8 l30.8,24.3V128z M224,372.8C207,360,184.7,352,160,352c-53,0-96,35.8-96,80s43,80,96,80s96-35.8,96-80V266.7l-32-25.2V372.8z M160,480c-34.7,0-64-22-64-48s29.3-48,64-48s64,22,64,48S194.7,480,160,480z'/%3E%3C/svg%3E");
          background-size: 32px 32px;
          @media (max-width: 767px) {
            background-size: 20px 20px;
          }
        }
      }
      &.muted {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Laag_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 512' style='enable-background:new 0 0 640 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M637,485.3L23,1.8c-3.3-2.8-8.3-2.3-11.1,1c-0.1,0.1-0.1,0.1-0.2,0.2l-10,12.5c-2.8,3.4-2.3,8.4,1.1,11.1 c0,0,0.1,0.1,0.1,0.1l614,483.5c3.4,2.8,8.3,2.3,11.1-1.1c0,0,0.1-0.1,0.1-0.1l10-12.5c2.8-3.3,2.3-8.2-1-11 C637.1,485.4,637.1,485.4,637,485.3L637,485.3z M256,128h-0.6v-0.1L544,32.6v93.7l-218.7,72.9l30.1,23.7L544,160v148.8 C527,296,504.7,288,480,288c-11.8,0-23.6,1.9-34.8,5.6l33.6,26.5c0.4,0,0.8-0.1,1.1-0.1c34.7,0,64,22,64,48c0,1-0.3,2-0.4,3.1 l27.3,21.5c3.2-7.8,5-16.1,5.1-24.6V32c0-18.2-14.3-32-30.6-32c-3.1,0-6.3,0.5-9.2,1.5l-290.8,96c-10.3,3.4-17.7,12.2-20.2,22.8 l30.8,24.3V128z M224,372.8C207,360,184.7,352,160,352c-53,0-96,35.8-96,80s43,80,96,80s96-35.8,96-80V266.7l-32-25.2V372.8z M160,480c-34.7,0-64-22-64-48s29.3-48,64-48s64,22,64,48S194.7,480,160,480z'/%3E%3C/svg%3E");
        background-size: 32px 32px;
        @media (max-width: 767px) {
          background-size: 20px 20px;
        }
        &:hover {
          @media (hover: hover) and (pointer: fine) {
            background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Laag_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 512' style='enable-background:new 0 0 640 512;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M544.9-0.5c-3.1,0-6.3,0.5-9.2,1.5L244.9,97c-12.7,4.2-21.4,16.5-21.4,30.5v244.8c-17-12.8-39.3-20.8-64-20.8 c-53,0-96,35.8-96,80s43,80,96,80s96-35.8,96-80v-176l288-96v148.8c-17-12.8-39.3-20.8-64-20.8c-53,0-96,35.8-96,80s43,80,96,80 s96-35.8,96-80v-336C575.5,13.2,561.2-0.5,544.9-0.5z M159.5,479.5c-34.7,0-64-22-64-48s29.3-48,64-48s64,22,64,48 S194.2,479.5,159.5,479.5z M479.5,415.5c-34.7,0-64-22-64-48s29.3-48,64-48s64,22,64,48S514.2,415.5,479.5,415.5z M543.5,125.8 l-288,96v-94.3h-0.6v-0.1l288.6-95.3V125.8z'/%3E%3C/svg%3E");
            background-size: 32px 32px;
            @media (max-width: 767px) {
              background-size: 20px 20px;
            }
          }
        }
      }
    }
    video {
      position: relative;
      display: block;
      height: inherit;
      width: inherit;
      min-width: inherit;
      min-height: inherit;
      max-width: 100%;
      max-height: 100%;
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: inherit;
      @media (max-width: 1499px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        max-height: none;
      }
      @media (max-width: 767px) {
        position: relative;
      }
    }
    video::-webkit-media-controls {
      display: none;
    }
  }

// AANBOD

// move content up,except visual
.aanbod-content-wrapper {
  position: relative;
  top: -150px;
  z-index: 2;
}

.aanbod-header {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.aanbod-header-visual::before {
  top: 180px;
  @media (max-width: 767px) {
    top: auto;
    bottom: 80px;
  }
}

.aanbod-header-content {
  .block__category__title {
    position: relative;
    .button-parent {
      position: absolute;
      display: block;
      left: 0;
      top: 47px;
      width: 100%;
      text-align: center;
      font-size: 2.5rem;
      color: #ffffff;
      @media (max-width: 767px) {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-bottom: 15px;
      }
    }
  }
  .block__category__title,
  .block__category__text {
    margin-top: -280px;
    height: 265px;
    @media (max-width: 767px) {
      margin-top: 0px;
      height: auto;
      padding-bottom: 0px;
    }


    .title {
      @media (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        float: none;
      }
    }

    .button-proefles-header {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .block__category__title {
    @media (max-width: 767px) {
      margin-top: 0px;
      height: auto;
      padding-bottom: 80px;
    }
  }
  .container__row__wrapper.no-gutter {
    padding: 0 36px;
    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }
}

.button-proefles {
  @extend .block__cursus__inschrijven;
  margin-top: 0;
  line-height: 86px;
  &:hover {
    text-decoration: none;
  }

}

.aanbod-children {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  > div {
    flex-basis: 33.3%;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 35px solid #ffffff;
    height: 280px;
    @media (max-width: 767px) {
      flex-basis: 100%;
      border-right: 0px solid #ffffff;
      height: 180px;
    }
    &:nth-child(3n) {
      border-right:0
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.no-courses-found {
  text-align: center;
  opacity: 0.5;
}

.button-yellow {
  &,&:link,&:visited {
    position: relative;
    display: inline-block;
    font-size: 28px;
    line-height: 56px;
    padding: 0 15px;
    height: 56px;
    z-index: 2;
    text-align: center;
    text-decoration: none;
    color: #522583;
    background-color: #ffed00;
    overflow: hidden;
  }

  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 56px;
    left: 0;
    top: 0;
    background-color: #522583;
    transition: width 350ms;
    z-index: -1;
  }

  &:hover {
    color: #ffffff;
    &:before {
      width: 100%;
      transition: width 350ms;
    }
  }
}

.aanbod-courses {
  .filter {
    select {
      width: 100%;
      border: none;
			background-color: #ececec;
			padding: 15px 20px;
			border-radius: 0;
			-webkit-appearance: none;
			background-image: url('../lib/img/th_select_arrow.svg');
			background-position: right center;
			background-size: 55px auto;
      background-repeat: no-repeat;
      &:hover {
        // color: #ffffff;
        background-color: #f1efef;
      }
    }
    button {
      display: inline-block;
      width: 100%;
      height: 55px;
      line-height: 50px;
      margin: 0;
      padding: 0;
      border: none;
			background-color: #ececec;
			border-radius: 0;
			-webkit-appearance: none;
			background-image: url('../lib/img/th_close_button.svg');
			background-position: center center;
			background-size: 20px 20px;
      background-repeat: no-repeat;

      &.active {
        background-color: #522583;
        &:hover {
          background-color: #391461;
        }
      }
    }
  }
  .container__row__wrapper {
    padding: 21px 21px 10px 21px;
    @media (max-width: 767px) {
      padding: 21px 0px 10px 0px;
    }
  }
  .aanbod-courselist {
    overflow-x: hidden;
    &[data-nofilters="hide"] {
      display: none;
    }
  }
  .course-item {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 135px;
    margin-bottom: 20px;
    padding: 15px 35px 15px 170px;
    opacity: 1;
    background-color:#E8E8E8;
    overflow: hidden;
    transition: all 350ms;
    cursor: pointer;
    @media (max-width: 767px) {
      padding: 0px 0px 15px 0px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 135px;
      height: 100%;
      object-fit: cover;
      @media (max-width: 767px) {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
        height: auto;
        vertical-align: top;
        float: left;
      }
    }
    h4 {
      font-size: 28px;
      @media (max-width: 767px) {
        display: block;
        padding: 15px;
        float: left;
      }
    }
    span {
      display: inline-block;
      width: 100%;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 767px) {
        display: block;
        padding: 0 15px;
        float: left;
      }
    }
    &.removed {
      padding: 0;
      margin-bottom: 0;
      height: 0;
      min-height: 0;
      opacity: 0;
      transform: translateX(100%) scaleY(0);
      transition: all 350ms;
    }
  }
}

.highlights__slider__wrapper {
  @media (max-width: 767px) {
    width: calc(100% - 30px);
    margin: 0 15px 0;
    padding: 15px 15px 0;
  }
}

.page-content-wrapper-single {
  .container__row__wrapper {
    @media (max-width: 767px) {
      padding-top: 100px !important;
    }
  }
}