/*
FONTS
*/
@font-face {
   font-family: 'Calibre';
      src: url('lib/fonts/CalibreWeb-Light.eot');
      src: url('lib/fonts/CalibreWeb-Light.eot?#iefix') format('embedded-opentype'),
           url('lib/fonts/CalibreWeb-Light.woff') format('woff');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('lib/fonts/CalibreWeb-Regular.eot');
      src: url('lib/fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
           url('lib/fonts/CalibreWeb-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('lib/fonts/CalibreWeb-Medium.eot');
      src: url('lib/fonts/CalibreWeb-Medium.eot?#iefix') format('embedded-opentype'),
           url('lib/fonts/CalibreWeb-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('lib/fonts/CalibreWeb-Semibold.eot');
      src: url('lib/fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
           url('lib/fonts/CalibreWeb-Semibold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('lib/fonts/CalibreWeb-Bold.eot');
      src: url('lib/fonts/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'),
           url('lib/fonts/CalibreWeb-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Calibre';
      src: url('lib/fonts/CalibreWeb-Black.eot');
      src: url('lib/fonts/CalibreWeb-Black.eot?#iefix') format('embedded-opentype'),
           url('lib/fonts/CalibreWeb-Black.woff') format('woff');
   font-weight: 800;
   font-style: normal;
}

.mce-content-body {
	font-family: 'Calibre';
	font-size: 21px;
	line-height: 25px;
	font-family: 'Calibre';
	font-weight: 400;
}

	.mce-content-body a {
		border-bottom: 1px solid #000;
		color: #000;
		text-decoration: none;
	}
	
	.mce-content-body h6 {
	    font-size: 23px;
	    line-height: 28px;
	    font-weight: 500;
	    margin: 0 0 34px 0;
	}